body{
    background-color: black;
}
#title{
    padding-top: 1em;
    font-size: 300%;
    color: white;
    text-align: center;
}
#earth {
    position: absolute; 
    left: 0; 
    right: 0; 
    top: 0;
    bottom: 0;
    margin: auto;
    width: 200px; 
}
#orbit {
    position: absolute; 
    left: 0; 
    right: 0; 
    top: 0;
    bottom: 0;
    margin: auto; 
    display: inline-block;
    border: dashed rgba(255, 255, 255, 0.2) 2px;
    border-radius: 50%;
}
#iss{
    position: absolute;
    width: 60px;
    height: 60px;
    display: inline-block;
    background-image: url(images/iss.svg);
    text-align: center;

}
#peopleInSpace{
    font-size: 10px;
    color: white;
    list-style-type: none;
    padding: 0;
    margin: 10px;
    display: none;
}
h3{
    padding: 0;
    margin: 0;
    display: none;
}

#listContainer{
    color: white;
    width: 100px;
    position: relative;
    left: 20px;
    top: 20px;
    display: none;
    background-color: rgb(50, 50, 50);
    border-radius: 10%;

}